$color-primary-dark: #431f31;
$color-primary: #1e4867;
$color-primary-medium: #204e6f;
$color-primary-light: #8fbfd2;
$color-primary-lighter: #c3dfea;
$color-primary-lightest: #e6ecef;

$color-primary-title: #4d6c77;
$color-primary-title-light: #88b1b8;

$color-font: #4a4045;
$color-background: #e4f0f5;

$color-gray: #f7f5f5;
$color-magenta: #974461;
$color-azur: #1cbbb4;
$color-blue: #8393ca;
$color-green: #8dc63f;
$color-purple: #8493ca;