input[type=text], input[type=email], input[type=password] {
	border: 1px solid $color-primary-light;
	@include border-radius(4px);	
	@include box-shadow(none);	
	color: $color-primary-light;
	font-size: 18px;
	font-weight: 300;
	height: 51px;

	&:focus, &:active {
		@include box-shadow(none);
		border-color: $color-primary-medium;
	}
}	

textarea.form-control {	
	border: 1px solid $color-primary-light;
	@include border-radius(4px);	
	@include box-shadow(none);	
	color: $color-primary-light;
	font-size: 18px;
	font-weight: 300;

	&:focus, &:active {
		@include box-shadow(none);
		border-color: $color-primary-medium;
	}
}

/*************************************************************************************
 * PLACEHOLDER
 *************************************************************************************/
input:-ms-input-placeholder {
	color: $color-primary-medium !important; 
}

input::-moz-placeholder {
	color: $color-primary-medium !important; 
}

input:-moz-placeholder {
	color: $color-primary-medium !important; 
}

input::-webkit-input-placeholder {
	color: $color-primary-medium !important; 
}


/*************************************************************************************
 * TRANSPARENT INPUT
 *************************************************************************************/
textarea.input-transparent, input.input-transparent {
	background-color: rgba(255, 255, 255, .1);
	border: 2px solid rgba(255, 255, 255, .5) !important;
	color: rgba(255, 255, 255, .5);
	padding-right: 40px;
	@include transition(background-color .2s linear, border-color .2s linear);

	&:focus, &:active {
		background-color: transparent;
		border-color: rgba(255, 255, 255, .8) !important;
	}
}

textarea.input-transparent:-ms-input-placeholder,
input.input-transparent:-ms-input-placeholder {
	color: rgba(255, 255, 255, .5) !important;
}

textarea.input-transparent::-moz-placeholder,
input.input-transparent::-moz-placeholder {
	color: rgba(255, 255, 255, .5) !important;
}

textarea.input-transparent:-moz-placeholder,
input.input-transparent:-moz-placeholder {
	color: rgba(255, 255, 255, .5) !important;
}

textarea.input-transparent::-webkit-input-placeholder,
input.input-transparent::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .5) !important;
}

.has-feedback .form-control-feedback.input-transparent {
	color: rgba(255, 255, 255, .5) !important;
}

/*************************************************************************************
 * FEEDBACK
 *************************************************************************************/
.has-feedback .form-control-feedback.input-transparent {
	color: $color-font;
	font-size: 18px;
	top: 9px;
	right: 5px;

	&.input-sm {
		font-size: 14px;
		top: -5px;
	}
}

/*************************************************************************************
 * SMALL FORM CONTROL
 *************************************************************************************/
.form-control {
	&.input-sm {
		font-size: 16px;
		height: 35px;
		padding: 6px 12px;
	}
}