.social {
	@extend .vertical-align;
	padding: 0px;

	.header & {
		float: right;
		margin-top: 3px;
	}

	li {
		display: inline-block;
		margin-left: 5px;
	}

	a {
		border: 3px solid rgba(255, 255, 255, .3);
		@include border-radius(50%);
		display: block;
		font-size: 12px;
		height: 28px;
		line-height: 22px;
		@include transition(border-color .2s linear);
		text-align: center;
		width: 28px;

		.team & {
			border-color: $color-primary-light;
			margin-top: 25px;
			i { 
				color: $color-primary-light;
			}

			&:hover {
				border-color: $color-primary-medium;

				i {
					color: $color-primary-medium;
				}
			}
		}


		i {
			color: rgba(255, 255, 255, .3);
			@include transition(color .2s linear);
		}

		&:hover {
			border-color: rgba(255, 255, 255, .5);

			i {
				color: rgba(255, 255, 255, .5);		
			}
		}
	}
}